<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="CmsServices">
      <section name="dataStorageProvider" requirePermission="false" type="CoolHorse.Cms.DataStorageServices.Providers.DataStorageProviderSection, CoolHorse.Cms.DataStorageServices" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    </sectionGroup>
  </configSections>
  <CmsServices>
    <dataStorageProvider defaultProvider="SqlServerProvider">
      <providers>
        <add description="SqlServer Provider" name="SqlServerProvider" type="CoolHorse.Cms.DataStorageServices.Providers.SqlServer.SqlServerProvider, CoolHorse.Cms.DataStorageServices"/>
      </providers>
    </dataStorageProvider>
  </CmsServices>
  <connectionStrings>
    <clear/>
    <add name="Cms" connectionString="Data Source=.;Initial Catalog=CoolHorse_Cms;User ID=serk0sa;Password=Serk0Ltd!;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>