@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "古鱼";
}

@*<div class="container product">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <img src="~/Images/banner.svg" />
    </div>
    <div class="col-md-4">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="container product">
    <div class="col-md-3">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
    <div class="col-md-3">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
    <div class="col-md-3">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
    <div class="col-md-3">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
</div>
<div class="container product">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
    <div class="col-md-4">
        <img src="~/Images/banner1.svg" />
    </div>

    <div class="col-md-2">
    </div>
</div>
<div class="container product">
    <div class="col-md-3">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
    <div class="col-md-3">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
    <div class="col-md-3">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
    <div class="col-md-3">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
</div>
<div class="container product">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <img src="~/Images/banner2.svg" />
    </div>
    <div class="col-md-4">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="container product">
    <div class="col-md-3">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
    <div class="col-md-3">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
    <div class="col-md-3">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
    <div class="col-md-3">
        <h3>一站式平台</h3>
        <span>网站，微信应用，移动平台全部拥有<br />
            <br />
        </span>
        <span>SEO搜索引擎优化，让客户更容易找到您<br />
            <br />
        </span>
        <span>多渠道营销，全方位推广<br />
            <br />
        </span>
    </div>
</div>*@
